{% extends 'backend/base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th class="float-right">Preis</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for dish in speisekarte %}
                <tr>
                    <th class="text-right">{{ dish.number }}</th>
                    <td>{{ dish.name }}</td>
                    <td>{{ dish.description }}</td>
                    <td class="text-right">{{ dish.price|number_format(2, '.', ',') }}</td>
                    <td class="text-center"><a href="{{ path('backend_dish', {"number": dish.number}) }}"><i class="fas fa-edit"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}