<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ asset('build/favicon.png') }}" rel="shortcut icon"/>
        <title>{% block title %}Pizzeria La Fattoria | {{ title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144512161-1"></script>
        {{ encore_entry_link_tags('frontend') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="container-fluid text-center title--header">
                <h1>Pizzeria La Fattoria - Alte Schmiede</h1>
            </div>
        {% endblock %}
        {% block navigation %}
            {{ include ('frontend/navbar.twig') }}
        {% endblock %}
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('frontend') }}
        {% block javascripts %}
            <script type="text/javascript" src="https://s3.eu-central-1.amazonaws.com/website-tutor/cookiehinweis/script.js"></script>
        {% endblock %}
    </body>
</html>
